body {
  background-color: #1A2238;

  color: #FFFFFF;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  border-bottom: 2px solid #FF6A3D;
}

.title h1{
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  color: #FF6A3D;
}

.title h3{
  font-family: 'Roboto', sans-serif;
  color: #7f8bcc;
}

.main-nav{
  background-color: #9DAAF2;
  color: #1A2238;
}